/*Navbar3*/
.navbar3{
  height: 40px;
  background-color: black;
}

.nav3Ul {
  list-style-type: none;
  margin-left: 60px;
}

.nav3Ul li {
  display: inline;
  float: center;
  padding-right: 60px;
  padding-left: 60px;
  color:white;
}
