/* Footer */
.site-footer {
	background-color: #26272b;
	padding: 45px 0 20px;
	font-size: 13px;
	line-height: 24px;
	color: white;
	hr {
		border-top-color: #bbb;
		opacity: 0.5;
	}
	hr.small {
		margin: 20px 0;
	}
	h6 {
		color: #fff;
		font-size: 16px;
		text-transform: uppercase;
		margin-top: 5px;
		letter-spacing: 2px;
	}
	a {
		color: #737373;
		&:hover {
			color: #3366cc;
			text-decoration: none;
		}
	}
}
.footerHeader {
	color: yellow;
}
.foot {
	margin-left: 150px;
	margin-right: 50px;
}
.foot2 {
	margin-left: 150px;
}
.footer-links {
	padding-left: 0;
	list-style: none;
	li {
		display: block;
	}
	a {
		&:active {
			color: #3366cc;
			text-decoration: none;
		}
		&:focus {
			color: #3366cc;
			text-decoration: none;
		}
		&:hover {
			color: #3366cc;
			text-decoration: none;
		}
	}
}
.subscribeInput{
	border-radius: 10% / 40%;
	margin-bottom: 10px;
	width: 70%;
	height: 40px;
	border-style: hidden;
}
.foot .btn-primary{
	background-color: yellow;
	color: black;
	border-radius: 10% / 50%;
	height: 35px;
}
.test{
	padding-right: 100px;
}
.footerList1 {
	padding-bottom: 5px;
}
.footer-links.inline {
	li {
		display: inline-block;
	}
}
.copyright-text {
	margin: 0;
}
.threeIcons {
	padding-right: 10px;
	margin-bottom: 5px;
}
@media (max-width:991px) {
	.site-footer {
		[class^=col-] {
			margin-bottom: 30px;
		}
	}
}
@media (max-width:767px) {
	.site-footer {
		padding-bottom: 0;
	}
}
