/* navbar 1 */
.navbar1 {
	background-color: yellow;
	text-align: center;
}
.spanUnderLine {
	text-decoration: underline;
	font-weight: 500;
}
.fl {
	float: right;
	margin-right: 500px;
}
.paddingRight {
	padding-right: 20px;
	cursor: pointer;
}
.fontSize {
	font-size: small;
	margin-top: 10px;
	font-weight: 600;
}
